*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
}
header{
    /*margin: 20px;*/
}
html {
    font-size: 62.5%;
}

h1 {
    font-size: 2.6rem;
}
li,
button,
label,
input,
p {
    font-size: 2rem;
}
h2 {
    font-weight: normal;
    font-size: 4.8rem;
}
h3 {
    font-size: 3rem;
    font-weight: normal;
}
h4,
h5 {
    font-size: 2.8rem;
}

/*hero section*/

.logo-header{
    background-color: #131c27;
    color: white;
}
nav {
    display: flex;
    min-height: 10vh;
    width: 90%;
    padding: 2rem;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
}
a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}
nav ul {
    display: flex;
    list-style: none;
    flex: 1 1 40rem;
    justify-content: space-around;
    align-items: center;
}

#logo{
    flex: 10 1 40rem;
    padding-top: 10px;
    font-family: "Pattaya", sans-serif;
}

.hero {
    background: linear-gradient(rgba(0,0,0,0.5), transparent), url("/img/hero_image_2.png");
    background-size: cover; /* This property ensures the image covers the entire container */
    background-position: center; /* This property centers the image within the container */
    /* Add any additional styling for the .hero class here */
    min-height: 90vh;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.hero h3{
    margin: 4rem;
}
.hero button{
    background-color: #131c27;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 12px 24px;
    font-size: 1.75rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
/*location section*/

.locations{
    background: linear-gradient(rgba(0,0,0,1), transparent), url("/img/new_york_city_background_image.png");
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.locations-head{
    color: white;
    margin: auto;
    width: 90%;
    /*background-color: tomato;*/
}

.cloud {
    position: absolute;
    top: 0;
    left: 0;
    height: 190px;
    width: 150px;
}
.moving-cloud-2{
    top: 20%;
}

.locations-head h3 {
    margin: 4rem 0;
}

.locations-head h2 {
    text-decoration: underline;
    /*text-decoration-thickness: 1px;*/
}

/*Benefits section*/

.benefits{
    height: 100vh;
    flex-direction: column;
    color: white;
}
.benefits-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #293749;
    padding: 4rem;
    height: 30vh;
}

.travel-icons {
    width: 100px;
}

.benefits-content {
    height: 70vh;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 4rem;
    background-color: #131c27;
    flex-wrap: wrap;

}

.cards{
    margin: 4rem;
    flex-basis: 30%;
    text-align: center;
    /*padding: 2rem;*/
    background-color: antiquewhite;
}


/*Media queries*/
@media screen and (max-width: 932px) {
    #logo{
        padding: 2rem;
    }
    html    {
        font-size: 40%;
    }
    .hero{
        text-align: center;
    }
    .hero h3{
        margin: 3rem;
    }
}